---
layout: default
title: Support
---
 
<section class="col-md-12">
  <h2>Category Page</h2>
 
  <p>Check out categories below!</p>
</section>
 
<ul class="entries">
  {% for post1 in site.posts %}
  {% if post1.type == "category" %}
      <li>
	    <a href="">
	      <h1>{{ post1.title }}</h1>
	    </a>
	  </li>

  {% for post2 in site.posts %}
  {% if post2.category == post1.title %}

	    <a href="{{ post2.url }}">
	      <h1>{{ post2.title }}</h1>
	    </a>
  {% endif %}
  {% endfor %}

  {% endif %}
  {% endfor %}
</ul>